html {
    height: 100%;
}

body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(55, 209, 255, 1) 0%, rgba(14, 31, 111, 1) 100.2%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.row {
    width: 100%;
}

img {
    width: 30%;
}

.btn {
    background-image: linear-gradient(69.9deg, rgba(76, 79, 106, 1) 3.2%, rgba(118, 124, 163, 1) 97.6%);
    opacity: 0.6;
}

#clear-image {
    color: rgb(255, 64, 64) !important;
}

nav {
    background-color: #7e7e7e !important;
    opacity: 0.9;
    position: -webkit-sticky;
    /* Safari */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 1224px) {
    .container {
        padding-top: 2%;
        width: 50% !important;
    }

    .row {
        width: 50%;
    }

    img {
        width: 20%;
    }

    .row {
        width: 100%;
    }
}