*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #e9c242, #fda085);
  color: white;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #dc4c3f;
}

nav li {
  float: left;
  padding: 0.8rem 0rem;
}

.logo {
  width: auto;
  height: 2rem;
  padding: 0rem 1rem;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.grid2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / 2 / 5;
}

.main-content {
  background-color: white;
}

form {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  width: 80%;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid #eeeeee 1px;
}

form button {
  color: #eeeee;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form button:hover {
  background: #dc4c3f;
  color: white;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list {
  min-width: 80%;
  list-style: none;
}

.todo {
  margin: 1rem;
  border-bottom: solid #eeeeee 1px;
  background: white;
  color: #333;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.todo li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.trash-btn,
.complete-btn {
  background: white;
  color: #dc4c3f;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.trash-btn:hover {
  background: #dc4c3f;
  color: white;
}

.complete-btn:hover {
  background: #4ddf4d;
  color: white;
}

.complete-btn {
  color: #4ddf4d;
  background: white;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.la-check-square,
.la-minus-square {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.fall {
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  opacity: 0;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background-image: none;
  padding: 0.5rem;
}

/* Custom Select */
/* Arrow */
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  height: 100vh;
  border-right: solid #eeeeee 1px;
  color: #333;
}

.side-bar h3 {
  padding: 1rem 0rem;
}

.select {
  height: auto;
  width: 80%;
  margin: 1rem;
  overflow: hidden;
}

select {
  color: #333;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 10rem;
  text-align: center;
}

.filter-todo {
  width: 100%;
  border: solid #444 1px;
}
/*# sourceMappingURL=main.css.map */